html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

h2 {
  padding-bottom: 1em;
}

#container form .has-success .form-control {
  background-color: rgba(92, 184, 92, .5);
}

#container form .has-warning .form-control {
  background-color: rgba(240, 173, 78, .5);
}

#container form .has-error .form-control {
  background-color: rgba(224, 88, 76, .5);
}

#container {
  width: 50%;
}
